@import '../../../assets//styles/variables.scss';

a.btnOrange{
    border:$orange ;
    background-color: $bgOrange;
    color: $txtWhite;
    padding: 6px 44px;
    font-size: 26px;
    border-radius: 25px;
    font-weight: 400;
    font-family: Poppins;
    transition: all 0.3s ease-in-out;

    &:hover{
        cursor: pointer;
        background-color: $bgBlack;

    }
}
@media screen and (max-width:1600px) {
   a.btnOrange{
       font-size: 18px;
   }
   }
@media screen and  (max-width:1400px){
    a.btnOrange{
        font-size: 16px;
    }
}


@media screen and  (max-width:1024px){
    a.btnOrange{
       font-size: 18px;
        margin-top: 16px;
    }
}

@media screen and  (max-width:600px){
    a.btnOrange{
       font-size: 14px;
       
    }
}

@media screen and  (max-width:350px){
    a.btnOrange{
       font-size: 12px;
       
    }
}