.form{
    label{
        display: flex;
        margin: 25px auto;
        width: 50%;

        input{
            margin: auto;
        }
    }
}

.socialLinks{
    list-style: none;
    text-align: start;

    li>strong{
        display: flex;
        margin: 10px auto;
    }
}

.icon{
    font-size: 36px;
    margin-right: 10px;
}