@import '../../../../assets/styles/variables.scss';


.button{
    background-color: $bgOrange;
    color: $txtWhite;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
    margin: auto;

    &:hover{
        cursor: pointer;
    }
}