@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

$orange:#ff5617;
$black :#000;
$blue:#2c3da7;
$lightBlack:#1a1a1a;
$white:#ffffff;

$txtOrange:$orange;
$txtBlack:$black;
$txtWhite:$white;
$txtBlack:$black;


$bgWhite:$white;
$bgBlack:$black;
$bgBlue:$blue;
$bgLightBlack:$lightBlack;
$bgOrange:$orange;

