@import './fonts.scss';

$orange:#ff5617;
$black :#000;
$blue:#2c3da7;
$lightBlack:#1a1a1a;
$white:#ffffff;

$txtOrange:$orange;
$txtBlack:$black;
$txtWhite:$white;
$txtBlue:$blue;


$bgWhite:$white;
$bgBlack:$black;
$bgBlue:$blue;
$bgLightBlack:$lightBlack;
$bgOrange:$orange;

