.portfolioList{
    display: flex;
   flex-wrap: wrap;

   picture{
       display: block;
       width: 50%;
       margin: auto;
   }

   article{
       margin: auto;
       width: 40%;
   }

  
}


